body{
    background: url("https://c4.wallpaperflare.com/wallpaper/191/329/138/8k-snowman-winter-snow-wallpaper-preview.jpg");
width :500px;
}
h1{
color:blue;
}
img{
    width:400px;
    height:300px;
}
h2{
color:RED;
}